body{
    background-color: aqua;
}
.container {
    font-family: sans-serif;
    background-color: aqua;
    color: #aadd33;
    margin: auto;
    padding: auto;
    text-align: center;
}
.container h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: purple;
    margin: 1.5em;
    text-align: center;
}
.container p{
    font-family: sans-serif;
    font-size: small;
    color: black;
    text-align: center;
}
