{% extends 'layout.html' %}
{% block title %}Flask blog{% endblock %}
{% block header %}
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <!--Left side navbar-->
        <div class="container">
            <a href="{{ url_for('home') }}" class="navbar nav-brand mr-4">Flask Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    {% if current_user.is_authenticated %}
                        <!--if user is authenticated then render this navbar-->
                        <a href="{{ url_for('home') }}" class="navbar navbar-link">Home</a>
                        <a href="#" class="navbar navbar-link">About</a>
                        <a href="{{ url_for('logout') }}" class="navbar navbar-link">Log out</a>
                    {% else %}
                        <!--else render this navbar-->
                        <a href="{{ url_for('register') }}" class="navbar navbar-link">Register</a>
                        <a href="{{ url_for('login') }}" class="navbar navbar-link">Log in</a>
                    {% endif %}
                </div>
            </div>
            <!--Right side navbar-->
            <div class="navbar-nav">
                <form action="#" class="form-inline mr-4">
                    <input type="text" class="form-control mr-sm-2" placeholder="Search">
                    <button class="btn btn-info">Search</button>
                </form>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="content">
        {% for post in posts %}
            <h1>{{ post.title }}</h1>
            <p>By {{ post.author}} on {{ post.date_posted }}</p>
            <p>{{ post.content }}</p>
        {% endfor %}
    </div>
{% endblock %}