{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block header %}
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <!--Left side navbar-->
        <div class="container">
            <a href="#" class="navbar nav-brand mr-4">Flask Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a href="#" class="navbar navbar-link">Home</a>
                    <a href="#" class="navbar navbar-link">About</a>
                </div>
            </div>
            <!--Right side navbar-->
            <div class="navbar-nav">
                <form action="#" class="form-inline mr-4">
                    <input type="text" class="form-control mr-sm-2" placeholder="Search">
                    <button class="btn btn-info">Search</button>
                </form>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    {% for post in posts %}
         <h1>{{ post.title }}</h1>
         <p>By {{ post.author}} on {{ post.date_posted }}</p>
         <p>{{ post.content }}</p>
    {% endfor %}
{% endblock content %}