<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    
    {% if title %}
        <title>Flask blog - {{ title }}</title>
    {% else %}
        <title>{% block title %}{% endblock title %}</title>
    {% endif %}
</head>
<body>
    <header class="blog-header header-bg">
        <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
            <!--Left side navbar-->
            <div class="container">
                <a href="{{ url_for('main.home') }}" class="navbar nav-brand mr-4">Flask Blog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        {% if current_user.is_authenticated %}
                            <!--if user is authenticated then render this navbar-->
                            <a href="{{ url_for('posts.new_post') }}" class="navbar navbar-link">New post</a>
                            <a href="{{ url_for('main.home') }}" class="navbar navbar-link">Home</a>
                            <a href="{{ url_for('users.about') }}" class="navbar navbar-link">About</a>
                            <a href="{{ url_for('users.logout') }}" class="navbar navbar-link">Log out</a>
                        {% else %}
                            <!--else render this navbar-->
                            <a href="{{ url_for('users.register') }}" class="navbar navbar-link">Register</a>
                            <a href="{{ url_for('users.login') }}" class="navbar navbar-link">Log in</a>
                        {% endif %}
                    </div>
                </div>
                <!--Right side navbar only active user in session-->
                <div class="navbar-nav">
                    {% if current_user.is_authenticated %}
                        <form action="{{ url_for('posts.search') }}" class="form-inline mr-4">
                            <input type="text" class="form-control mr-sm-2" placeholder="Search" name="keyword">
                            <input type="submit" class="btn btn-info" name="submit">
                        </form>
                    {% else %}
                        <a href="https://flask.palletsprojects.com" class="navbar navbar-link">Powered by Flask</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-sm-4 col-md-6 col-lg-8">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-6 col-lg-8">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="sidebar-content col-sm-8 col-md-6 col-lg-4">
                <h3>Sidebar</h3>
                <p class="text-muted">Some infomation</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Latest post</li>
                    <li class="list-group-item list-group-item-light">Announcements</li>
                    <li class="list-group-item list-group-item-light">Calendar</li>
                </ul>
            </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
