{% extends 'layout.html' %}
{% block title %}{% endblock %}
{% block header %}
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <!--Left side navbar-->
    <div class="container">
        <a href="#" class="navbar nav-brand mr-4">Flask Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <a href="{{ url_for('register')}}" class="navbar navbar-link">Register</a>
                <a href="{{ url_for('login') }}" class="navbar navbar-link">Login</a>
            </div>
        </div>
        <!--Right side navbar-->
        <div class="navbar-nav">
            <form action="{{ url_for('search') }}" class="form-inline mr-4">
                <input type="text" class="form-control mr-sm-2" placeholder="Search">
                <button class="btn btn-info">Search</button>
            </form>
        </div>
    </div>
</nav>
{% endblock %}
{% block content %}
        <div class="row">
            <form action="{{ url_for('register') }}" class="needs-validation" method="POST" novalidate>
                <div class="form-group">
                    <!--check valid email-->
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" placeholder="Enter email" id="email" required>
                    <div class="valid-feedback">Valid!</div>
                    <div class="invalid-feedback">Invalid! Email is required</div>
                </div>
                <div class="form-group">
                    <!--check valid password-->
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" required>
                    <div class="valid-feedback">Valid!</div>
                    <div class="invalid-feedback">Invalid! Password is required</div>
                </div>
                <div class="form-group">
                    <label for="rpwd">Re-Enter password:</label>
                    <input type="password" id="rpwd" placeholder="Re-Enter password" required>
                    <div class="valid-feedback">Valid!</div>
                    <div class="invalid-feedback">Invalid!</div>
                </div>
                <div class="form-group form-inline mr-sm-2">
                    <label for="form-check-label">
                        <input type="checkbox" class="form-check-input">Remember me
                    </label>
                    <a href="#" class="nav-link">You didn't have an account?</a>
                </div>
            </form>
{% endblock %}
