-i https://pypi.org/simple
alembic
attrs
bcrypt
blinker
certifi
cffi
chardet
click
entrypoints
flake8
flask-bcrypt
flask-login
flask-mail
flask-migrate
flask-script
flask-sqlalchemy
flask-wtf
flask
gunicorn
idna
itsdangerous
jedi
jinja2
mako
markupsafe
mccabe
more-itertools
packaging
parso
pillow
pluggy
py
pycodestyle
pycparser
pyflakes
pyparsing
pytest
python-dateutil
python-editor
requests
six
sqlalchemy
urllib3
wcwidth
werkzeug
wtforms
